html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font-size: 14px;
	color: #333;
	user-select: none;
	-moz-user-select: none;
}

.counter {
	width: 100%;
	position: fixed;
	top: 0;
	text-align: center;
	font-size: 36px;
	margin: 26px 0;
}

.start-bg {
	position: absolute;
	z-index: 99;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(245, 245, 245, .5);
	display: flex;
}

.start, .finish {
	width: 120px;
	height: 120px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 36px;
	margin: auto;
	cursor: default;
	background: #90EE90;
	background: linear-gradient(135deg, rgba(144,238,144,1) 0%, 
		        rgba(164,179,87,1) 100%); 
	box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, .5);
}

.start:hover {
	transition: .2s;
	background: #bbEEbb;
	background: linear-gradient(135deg, rgba(187,238,187,1) 0%, 
		        rgba(144,238,144,1) 100%);
	box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, .5);
}

.hidden {
	display: none;
}

.wrap {
	width: 100%;
	height: 100%;
	display: flex;
	background: #f5f5f5;
}

.container {
	width: 770px;
	height: 770px;
	margin: auto;
	position: relative;
}

.cell {
	width: 120px;
	height: 120px;
	margin: auto;
	background: #fff;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 36px;
	box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, .5);    /* https://css3gen.com/box-shadow/ */
	cursor: default;
	user-select: none;
	-moz-user-select: none;
	transition: .2s;
}

.n-cell {
	background: #FFFFE0;
	background: linear-gradient(135deg, rgba(255,255,224,1) 0%, rgba(187,238,187,1) 100%);
}

.n-cell:hover {
	box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, .5);
}

.r-cell {
	background: #bbEEbb;
	background: linear-gradient(135deg, rgba(187,238,187,1) 0%, 
		        rgba(144,238,144,1) 100%);
}

.correct {
	background: #90EE90;
	background: linear-gradient(135deg, rgba(144,238,144,1) 0%, 
		        rgba(164,179,87,1) 100%);    /* http://www.cssmatic.com/gradient-generator */
}

.first {
	z-index: 3;
	box-shadow: 5px 5px 8px 0px rgba(50, 50, 50, .6);
	background: linear-gradient(135deg, rgba(255,255,224,1) 0%, rgba(206,245,206) 100%);
}

.first:hover {
	box-shadow: 5px 5px 8px 0px rgba(50, 50, 50, .6);
}

.second {
	z-index: 2;
	box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, .5);
}

.second:hover {
	box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, .5);
}

.c0 {
	top: 130px;
	left: 130px;
}

.c1 {
	top: 130px;
	left: 260px;
}

.c2 {
	top: 130px;
	left: 390px;
}

.c3 {
	top: 130px;
	left: 520px;
}

.c4 {
	top: 260px;
	left: 130px;
}

.c5 {
	top: 260px;
	left: 260px;
}

.c6 {
	top: 260px;
	left: 390px;
}

.c7 {
	top: 260px;
	left: 520px;
}

.c8 {
	top: 390px;
	left: 130px;
}

.c9 {
	top: 390px;
	left: 260px;
}

.c10 {
	top: 390px;
	left: 390px;
}

.c11 {
	top: 390px;
	left: 520px;
}

.c12 {
	top: 520px;
	left: 130px;
}

.c13 {
	top: 520px;
	left: 260px;
}

.c14 {
	top: 520px;
	left: 390px;
}

.c15 {
	top: 520px;
	left: 520px;
}

.r0 {	
	top: 0;
	left: 0;
}

.r1 {	
	top: 0;
	left: 130px;
}

.r2 {	
	top: 0;
	left: 260px;
}

.r3 {	
	top: 0;
	left: 390px;
}

.r4 {	
	top: 0;
	left: 520px;
}

.r5 {	
	top: 0;
	left: 650px;
}

.r6 {	
	top: 130px;
	left: 0;
}

.r7 {	
	top: 130px;
	left: 650px;
}

.r8 {	
	top: 260px;
	left: 0;
}

.r9 {	
	top: 260px;
	left: 650px;
}

.r10 {	
	top: 390px;
	left: 0;
}

.r11 {	
	top: 390px;
	left: 650px;
}

.r12 {	
	top: 520px;
	left: 0;
}

.r13 {	
	top: 520px;
	left: 650px;
}

.r14 {	
	top: 650px;
	left: 0;
}

.r15 {	
	top: 650px;
	left: 130px;
}

.r16 {	
	top: 650px;
	left: 260px;
}

.r17 {	
	top: 650px;
	left: 390px;
}

.r18 {	
	top: 650px;
	left: 520px;
}

.r19 {	
	top: 650px;
	left: 650px;
}